<html>
  <head>
    <title>Home Page</title>
    <link rel='stylesheet' href='/styles.css' />
  </head>
  <body>
    <div class="index-container">
      <h1>James' Nest JS Boilerplate Backend</h1>
      <p>This will serve as a starting point for MANY backends moving forward</p>
    </div>
  </body>
</html>