<html>
  <head>
    <title>Home Page</title>
    <link rel='stylesheet' href='/styles.css' />
  </head>
  <body>
    <div class="index-container">
      <h1>James' Nest.JS Mega Backend</h1>
    </div>
  </body>
</html>