<html>
  <head>
    <title>Password Reset</title>
    <link rel='stylesheet' href='/styles.css' />
  </head>
  <body>
    <div class='reset-password-container'>
      <h1>Reset Your Password</h1>
      <form
        action='/password-reset/reset'
        method='POST'
        class='reset-password-form'
      >
        <input
          type='password'
          name='newPassword'
          placeholder='New Password'
          required
        />
        <input
          type='password'
          name='confirmPassword'
          placeholder='Confirm Password'
          required
        />
        <input type='hidden' name='token' value={{token}} />
        <input type='hidden' name='jwt' value={{jwt}} />
        <input type='submit' value='Reset Password' />
      </form>
      <ul>REQUIREMENTS:</ul>
        <li>At least 8 characters</li>
        <li>At least 1 uppercase letter</li>
        <li>At least 1 lowercase letter</li>
        <li>At least 1 number</li>
        <li>At least 1 special character</li>
        <li>No spaces</li>
        <li>No emoji</li>
      

    </div>
  </body>
</html>