<html>
  <head>
    <title>Password Reset</title>
  </head>
  <body>
    <h1>Password Reset Form</h1>
    <p>Reset your password:</p>
    <form action='/password-reset/reset' method='POST'>
      <input
        type='password'
        name='newPassword'
        placeholder='New Password'
        required
      />
      <input
        type='password'
        name='confirmPassword'
        placeholder='Confirm Password'
        required
      />
      <input type='hidden' name='token' value={{token}} />
      <input type='hidden' name='jwt' value={{jwt}} />
      <input type='submit' value='Reset Password' />
    </form>
  </body>
</html>