<html>
  <head>
    <title>Password Reset</title>
    <link rel='stylesheet' href='/styles.css' />
  </head>
  <body>
    <div class='reset-password-container'>
      <h1>Password Reset</h1>
      <p>The following information was submitted:</p>
      {{#if payload.newPassword}}
        <p><strong>New Password:</strong>{{payload.newPassword}}</p>
      {{/if}}
      {{#if payload.confirmPassword}}
        <p><strong>Confirm Password:</strong> {{payload.confirmPassword}}</p>
      {{/if}}
      {{#if payload.token}}
        <p><strong>Token:</strong> {{payload.token}}</p>
      {{/if}}
      {{#if payload.jwt}}
        <p><strong>JWT:</strong> {{payload.jwt}}</p>
      {{/if}}
    </div>
  </body>
</html>