<html>
  <head>
    <title>Password Reset</title>
  </head>
  <body>
    <h1>Password Reset</h1>
    <p>The following information was submitted:</p>
    {{#if payload.newPassword}}
    <p>New Password: {{payload.newPassword}}</p>
    {{/if}}
    {{#if payload.confirmPassword}}
    <p>Confirm Password: {{payload.confirmPassword}}</p>
    {{/if}}
    {{#if payload.token}}
    <p>Token: {{payload.token}}</p>
    {{/if}}
    {{#if payload.jwt}}
    <p>JWT: {{payload.jwt}}</p>
    {{/if}}
  </body>
</html>