body {
  background-color: aliceblue;
}

.reset-password-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.reset-password-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 400px;
  gap: 0.5rem;
}
input {
  width: 100%;
  height: 50px;
  padding: 0.5rem;
}